.wrapper {
    background-color: #141414;
    padding: 8px 16px;
    border-radius: 4px;

    > div {
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
    }
}

.text {
    font-size: 14px;
    font-weight: bold;
    color: #ddd;
    margin-bottom: 10px;
    margin: 0;
}